.vscode
.env
package-lock.json
.bashrc
.bash_profile
.profile
.bash_history
.cache
.config
.dbus
.dbus-keyrings
.fontconfig
.gitconfig
.gnupg
.inputrc
.joe_state
.local
.minttyrc
.mkshrc
.nedit
.ssh
.thumbnails
.Xauthority
.xinitrc
.xsession-errors
chatgpt.js
chat.js~
chatgpt.py
chatgpt.py~
Desktop
Documents
Downloads
LOCAL_APPDATA_FONTCONFIG_CACHE
motta
Music
node_modules
openchat.js
openchat.js~
package.json~
Pictures
Public
punycode.js
Templates
Videos
vscilab